<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
               
     <context:annotation-config/>

	<!-- Inhertiance in beans -->
	<!-- <bean id="parentTriangle" class="org.migue.learning.spring.Triangle"
		name="triangle-name">
		<property name="pointA" ref="pointA" />
	</bean>


	<bean id="triangle1" class="org.migue.learning.spring.Triangle"
		parent="parentTriangle">
		<property name="pointB" ref="pointB" />
		<property name="pointC" ref="pointC" />

	</bean>


	<bean id="triangle2" class="org.migue.learning.spring.Triangle"
		parent="parentTriangle">
		<property name="pointB">
			<ref bean="pointB" />
		</property>
	</bean> -->


	<bean id="pointA" class="org.migue.learning.spring.Point">
		<qualifier value="circleQualifer"/>
		<property name="x" value="${pointA.pointX}" />
		<property name="y" value="${pointA.pointY}" />
	</bean>

	<!-- <bean id="pointB" class="org.migue.learning.spring.Point">
		<property name="x" value="-10" />
		<property name="y" value="-10" />
	</bean>

	<bean id="pointC" class="org.migue.learning.spring.Point">
		<property name="x" value="10" />
		<property name="y" value="10" />
	</bean> -->

	<bean class="org.migue.learning.spring.DisplayNameBeanPostProcessor" />
	<bean class="org.migue.learning.spring.MyBeanFactoryPostProcessor" />
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="pointsconfig.properties"></property>
	</bean>

	<bean id="circle" class="org.migue.learning.spring.Circle">

	</bean>
	<!-- <bean
		class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" /> -->


 	<bean id="pointC" class="org.migue.learning.spring.Point" >
 		<property name="x" value="10" />
 		<property name="y" value="10" />
 	</bean>
 
 <!-- 
 <bean class="org.migue.learning.spring.DisplayNameBeanPostProcessor" /> -->
 	   <bean class="org.migue.learning.spring.MyBeanFactoryPostProcessor" /> 
 	 <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
 	 	<property name="locations" value="pointsconfig.properties"></property>
 	 </bean>
</beans>